<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="16.9.31023.347" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.34" targetFramework="net48" />
  <package id="stdole" version="16.9.31023.347" targetFramework="net48" />
  <package id="VSLangProj" version="16.9.31023.347" targetFramework="net48" />
</packages>