@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Portal;
@using Sage.CA.SBS.ERP.Sage300.Web.Models;
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Portal;

@model  NavigableMenuViewModel<NavigableMenu>

<div id="dvAddWidget" class="top-buttons addWidgets" style="display:none">
    <span>@HomePageResx.AddWidgets</span>
    <button class="navbarToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("NavigableMenuDetail", Model);
</script>

