@* Copyright (c) 2016 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Core.Web.Models
@using Sage.CA.SBS.ERP.Sage300.AR.Models
@model  Sage.CA.SBS.ERP.Sage300.AR.Models.CustomerDocument

<div id="InquiryGrid">
    @Html.Partial("~/Areas/Core/Views/Shared/GridPage.cshtml",
                 new GridConfigViewModel(typeof(CustomerDocument),
                 "inquiryUI.inquiryKoBindingModel.CustomerDocuments.Items",
                 Model,
                 "CustomerNumber", gridEditableMode:"false")
        {
            EditButtonVisibility = true,
            Controls = GridConfigViewModel.CreateControls<CustomerDocument, CustomerDocument>(Html),
        })
</div>