@* Copyright (c) 1994-2017 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources


<ul class="options-menu">
    <li>
        <a>@CommonResx.Options<span class="arrow-grey"></span></a>
        <ul class="sub-menu">
            <li><a id="btnSaveUserPreference">@CommonResx.SaveSettings</a></li>
            <li><a id="btnClearUserPreference">@CommonResx.ClearSavedSettings</a></li>
        </ul>
    </li>
</ul>
</ul>