@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@

@model Sage.CA.SBS.ERP.Sage300.Common.Models.UserAccess
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants

@{
    var import = ViewData[OptionsMenu.Import] == null ? Model.SecurityType.HasFlag(SecurityType.Modify) && Model.SecurityType.HasFlag(SecurityType.Import) : Convert.ToBoolean(ViewData[OptionsMenu.Import]);
    var export = ViewData[OptionsMenu.Export] == null ? Model.SecurityType.HasFlag(SecurityType.Inquire) && Model.SecurityType.HasFlag(SecurityType.Export) : Convert.ToBoolean(ViewData[OptionsMenu.Export]);
    var customize = Model.SecurityType.HasFlag(SecurityType.Admin);
}

@if (export || import || customize)
{
    <ul class="dropDown-Menu">

        <li>
            <a>@CommonResx.Options</a>
            <ul class="sub-menu">
                @if (import)
                {
                    <li><a id="btnOptionImport">@CommonResx.Import</a></li>
                }
                @if (export)
                {
                    <li><a id="btnOptionExport">@CommonResx.Export</a></li>
                }
                @if (customize)
                {
                    <li><a id="btnCustomizeUI">@CommonResx.Customize</a></li>
                }
            </ul>
        </li>
    </ul>
}

<div class="clear-fix"></div>
