<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net48" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net462" />
  <package id="DouglasCrockford.JsMin" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
  <package id="WebGrease" version="1.6.0" targetFramework="net48" />
</packages>