@* Copyright (c) 2016 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Core.Web.Models
@using Sage.CA.SBS.ERP.Sage300.AR.Models
@model  Sage.CA.SBS.ERP.Sage300.AR.Models.DocumentPayment

<div id="InquirySecondGrid">
    @Html.Partial("~/Areas/Core/Views/Shared/GridPage.cshtml",
                new GridConfigViewModel(typeof(DocumentPayment),
                "inquiryUI.inquiryKoBindingModel.CustomerDocuments.Items",
                Model,
                "DocumentNumber", gridEditableMode: "false")
        {
            EditButtonId = "btnEditSecondGridColumns",
            EditButtonVisibility = true,
            Controls = GridConfigViewModel.CreateControls<DocumentPayment, DocumentPayment>(Html),
            GridSize = GridSize.Small
        })
</div>
