
@* The MIT License (MIT) *@
@* Copyright (c) 1994-2016 The Sage Group plc or its licensors.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sage 300c Customization</title>
    <link href="~/Areas/CU/Assets/Styles/css/default.min.css" rel="stylesheet" />
</head>

<body class="master-stand-alone">

<header>
    <div class="header-global">
        <div class="wrapper">
            <div class="Sage_logo"><img src="~/Areas/CU/Assets/Images/sage_300_logo_white.png" height="25" alt="Sage 300"></div>
            <div class="top-nav">
                <ul>
                    <li id="liAdminHelp">
                        <i class="help"><span>Help</span></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="main-body">
    <div class="wrapper">
        <h1 class="page-header">Sage 300 UI Customization</h1>
        <ul>
            <li>Open the generated screen settings and JavaScript template file from [Sage 300 shared-data folder]\Customization</li>
            <li>Edit the settings file to add custom controls to the screen</li>
            <li>Edit the JavaScript file to add code and implememt custom business logic.</li>
            <li>Sign in to Sage 300c, <a href= @ViewBag.Sage300Url>Sage 300c</a>, and open the screen you want to customize.</li>
            <ul>
                <li>Sage 300c parses the settings files to add controls to the screen and view, </li>
                <li>and to include the JavaScript file in the view.</li>
            </ul>
            <li>Use this MVC project to add controllers, action methods, and logic in areas\CU\Controllers (called by client side).</li>
            <li>Rebuild the project in Release Mode.</li>
            <ul>
                <li> The bootstrapper configuration file and project assembly are deployed to the Sage300c web directory.</li>
            </ul>
        </ul>
    </div>
</section>

<section class="footer">
    <div class="wrapper">
        <a class="logo-sage" href="http://na.sage.com"><img src="~/Areas/CU/Assets/Images/footer_logo.png" width="60" height="25" alt="Sage"></a>
        © 2016, Sage Software Inc., and its affiliated entities.
    </div>
</section>

</body>
</html>
