@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources


<ul class="dropDown-Menu ">
    <li>
        <a>@CommonResx.Options</a>
        <ul class="sub-menu">
            <li><a id="btnSaveUserPreference">@CommonResx.SaveSettings</a></li>
            <li><a id="btnClearUserPreference">@CommonResx.ClearSavedSettings</a></li>
        </ul>
    </li>

</ul>

<div class="clear-fix"></div>