@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources
<link href="~/Content/Styles/Sage.CA.SBS.ERP.Sage300.css" rel="stylesheet" />
<div id="message" style="display:block;">
    <div class="message-control multiError-msg">
        <div class="title">
            <span class="icon multiError-icon"></span>
            <h3>@CommonResx.UnexpectedError:</h3>
        </div>
        <div class="msg-content">
            <ul>
                <li>@CommonResx.PageNotFoundError</li>
            </ul>
        </div>
    </div>
</div>
