<?xml version="1.0"?>
<!--
       For more information on how to configure your ASP.NET application, please visit
       http://go.microsoft.com/fwlink/?LinkId=169433
       -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WorkflowDbContext" connectionString="Data Source=localhost;Initial Catalog=Sage.LandLord;user id=sa;password=;Integrated Security=false;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="LandLordDbContext" connectionString="Data Source=localhost;Initial Catalog=Sage.Landlord;user id=sa;password=;Integrated Security=false;MultipleActiveResultSets=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="RollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs/trace.log" formatter="Text Formatter" asynchronous="true" filter="All" rollSizeKB="8192" rollFileExistsBehavior="Increment" />
      <add name="AzureDiagnosticsTraceListener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Machine Name: {machine}{newline}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="RollingFlatFileTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="RollingFlatFileTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <!-- View Finder Setting
         MatchOnly      = Default, Show only matching rows, 
         MatchPlus      = Show matching rows plus additional rows (greater than or equal to)
         MatchPlusMinus = Show matching rows plus some before and some after (Future Use - Not yet implemented) 
    -->
    <add key="ViewFinderOnStart" value="MatchOnly" /> 
    <add key="ShowMessageTime" value="5000" />
    <add key="Sage300Version" value="Sage 300 2019.2.0" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LocalTempFolder" value="C:\Temp_Excel\" />
    <!-- === CE UM settings : Start === -->
    <add key="CEServerBaseUri" value="~" />
    <!--DEV Sage 300 Online 2.0-->
    <add key="CEProductId" value="8082BA6C-44E5-4D68-BDA9-F00D6FB38BB4" />
    <!--QA Sage 300 Online 2.0-->
    <!--<add key="CEProductId" value="E7A7C6D9-7B13-4A72-9DDA-109EDD5298B6"/>-->
    <!--Integration Sage 300 Online 2.0-->
    <!--<add key="CEProductId" value="B5642151-019E-43AE-B401-610DBFA188B6"/>-->
    <!--Staging Sage 300 Online 2.0-->
    <!--<add key="CEProductId" value="79F096AB-84B4-4CBD-B588-60843E08C360"/>-->
    <!--DEV Sage 300 Online 2.0-->
    <add key="CEApplicationId" value="2C31524B-DA3E-417A-89CD-FE434219BD63" />
    <!--QA Sage 300 Online 2.0-->
    <!--<add key="CEApplicationId" value="7890B021-C3BA-4987-B281-E3572F735EEE"/>-->
    <!--Integration Sage 300 Online 2.0-->
    <!--<add key="CEApplicationId" value="2DD0DACD-107D-47BE-A882-5C207458389B"/>-->
    <!--Staging Sage 300 Online 2.0-->
    <!--<add key="CEApplicationId" value="6650A741-EB18-4FD6-B117-4906702B7E9E"/>-->
    <add key="CELogonResultUrl" value="Core/Authentication/LoginResult/{0}" />
    <add key="CERepositoryEndPointConfig" value="CloudEnablementStaging" />
    <add key="RedisSessionStateProviderConnStr" value="" />
    <add key="SageIdClientConfig" value="SageIDPreProduction" />
    <add key="SageIdClientConfigIM" value="SageIDPreProductionIM" />
    <add key="SageIdClientConfigAM" value="SageIDPreProductionAM" />
    <add key="SageIdDefaultTemplate" value="Sage300Online20" />
    <add key="SageIdSSORootCertificateFindType" value="FindBySubjectName" />
    <add key="SageIdSSORootCertificateFindValue" value="Sage SSO Identity Root (Pre-Production)" />
    <add key="SageIdDefaultMobileTemplate" value="Sage300Online20Mobile" />
    <add key="SageIdSessionTimeoutMinutes" value="20" />
    <add key="SageIdServiceCallTimeOutSecs" value="60" />
    <add key="SageIdAccessTokenEncryptionKey" value="AeYKuNYeXt7upgYZCn8V1HRt6+T98anCQB8/Zb2nldI=" />
    <add key="SageIdAccessTokenEncryptionInitialisationVector" value="tFlZWVEsQReTbCJGTqY59g==" />
    <add key="SageIdAccessTokenEncryptionOn" value="true" />
    <!-- === CE UM settings : End === -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="IsSageIdIntegrationEnabled" value="false" />
    <add key="IsSageKPICachEnabled" value="false" />
    <add key="IsPortalIntegrationEnabled" value="true" />
    <add key="IsNotesAutoLaunchEnabled" value="true" />
    <add key="Company" value="SAMLTD" />
    <add key="AzureQueueName" value="sage300queue" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="LearnMoreUrl" value="http://help.sage300.com/{0}/2016/web/index.htm#{1}?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300" />
    <add key="ReportUrl" value="WebForms" />
    <!-- Pool Configuration : Start-->
    <!--This switch will determine whether views should be closed or not when the session they are opened under is returned to the pool -->
    <add key="CloseViewsBeforeReturningSessionToPool" value="true" />
      <!--Whether session pool is enabled or not. For web application it should be true. For worker role and web api it should be set to false.-->
    <add key="SessionPoolEnabled" value="true" />
    <!--If enabled session will be created and destroyed per user per page else it will be per user.-->
    <add key="SessionPerPage" value="false" />
    <!--Maximum number of session in the pool allowed per user and per application identifier. Only applicable if session pool is enabled.-->
    <add key="MaxSessionPoolSize" value="1" />
    <!--Maximum number of concurrent sessions allowed per user. If it is -1 then no restrictions.For web api it should be 100-->
    <add key="MaxAllowedSessions" value="-1" />
    <!-- Pool Configuration : End-->
    <!--Session Date will be reset to today's date when today's date - session date is greater than this value (in minutes)-->
    <add key="SessionDateTimeout" value="720" />
    <!-- UI Cultures : Start -->
    <add key="ENG" value="en-US" />
    <add key="CHN" value="zh-Hans" />
    <add key="CHT" value="zh-Hant" />
    <add key="ESN" value="es" />
    <add key="FRA" value="fr-CA" />
    <!-- UI Cultures : End -->
    <!-- Shared Data Directory Path Prefix for Tenant include \ at the end. -->
    <add key="SharedDataDirectory" value="" />
    <!-- === Portal settings-->
    <add key="NumberOfWidgets" value="12" />
    <add key="NumberOfActiveWindows" value="10" />
    <!--Footer Links For en-Us-->
    <add key="PolicyUrlen-US" value="http://na.sage.com/us/legal?sc_lang=en#privacy" />
    <add key="CopyrightUrlen-US" value="http://na.sage.com/us/legal?sc_lang=en#copyright" />
    <add key="ContactUrlen-US" value="http://na.sage.com/us/about-us?sc_lang=en#contact-us" />
    <!--Footer Links For fr-CA-->
    <add key="PolicyUrlfr-CA" value="http://na.sage.com/ca/legal?sc_lang=fr-ca#privacy" />
    <add key="CopyrightUrlfr-CA" value="http://na.sage.com/ca/legal?sc_lang=fr-ca#copyright" />
    <add key="ContactUrlfr-CA" value="http://na.sage.com/ca/about-us?sc_lang=fr-ca#contact-us" />
    <!--Portal Help Links For en-Us-->
    <add key="ContactSupportUrlen-US" value="http://na.sage.com/us/support" />
    <add key="SageUniversityUrlen-US" value="http://www.sage300.com/c/university-en" />
    <add key="SageCityUrlen-US" value="http://sagecity.na.sage.com" />
    <add key="KnowledgebaseUrlen-US" value="http://www.sage300.com/c/knowledgebase-en" />
    <add key="LiveChatUrlen-US" value="http://www.sage300.com/livechat-en" />
    <add key="RemoteSupportSessionUrlen-US" value="http://www.sage300.com/c/remotesupport-en" />
    <add key="OnlineCommunityUrlen-US" value="http://www.sage300.com/c/community-en" />
    <add key="SubmitProductIdeaUrlen-US" value="http://www.sage300.com/productidea-en" />
    <add key="ProductDocumentsUrlen-US" value="https://cdn.na.sage.com/docs/en/customer/300erp/Sage300ERP_Documentation.htm?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c" />
    <add key="Sage300HomeUrlen-US" value="http://www.sage.com/us/erp/sage-300?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c" />

    <!--Portal Help Links For zh-CN-->
    <add key="SageUniversityUrlzh-CN" value="http://www.sage300.com/c/university-cn" />
    <add key="KnowledgebaseUrlzh-CN" value="http://www.sage300.com/c/knowledgebase-cn" />
    <add key="LiveChatUrlzh-CN" value="http://www.sage300.com/livechat-cn" />
    <add key="RemoteSupportSessionUrlzh-CN" value="http://www.sage300.com/remotesupport-cn" />
    <add key="OnlineCommunityUrlzh-CN" value="http://www.sage300.com/c/community-cn" />
    <add key="SubmitProductIdeaUrlzh-CN" value="http://www.sage300.com/productidea-cn" />
    <add key="ProductDocumentsUrlzh-CN" value="https://cdn.na.sage.com/docs/en/customer/300erp/Sage300ERP_Documentation.htm?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-cn" />
    <add key="Sage300HomeUrlzh-CN" value="http://www.sage.com/us/erp/sage-300?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-cn" />

    <!--Portal Help Links For zh-TW-->
    <add key="SageUniversityUrlzh-TW" value="http://www.sage300.com/c/university-tw" />
    <add key="KnowledgebaseUrlzh-TW" value="http://www.sage300.com/c/knowledgebase-tw" />
    <add key="LiveChatUrlzh-TW" value="http://www.sage300.com/livechat-tw" />
    <add key="RemoteSupportSessionUrlzh-TW" value="http://www.sage300.com/remotesupport-tw" />
    <add key="OnlineCommunityUrlzh-TW" value="http://www.sage300.com/c/community-tw" />
    <add key="SubmitProductIdeaUrlzh-TW" value="http://www.sage300.com/productidea-tw" />
    <add key="ProductDocumentsUrlzh-TW" value="https://cdn.na.sage.com/docs/en/customer/300erp/Sage300ERP_Documentation.htm?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-tw" />
    <add key="Sage300HomeUrlzh-TW" value="http://www.sage.com/us/erp/sage-300?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-tw" />
    
    <!--Portal Help Links For es-->
    <add key="SageUniversityUrles" value="http://www.sage300.com/c/university-es" />
    <add key="KnowledgebaseUrles" value="http://www.sage300.com/c/knowledgebase-es" />
    <add key="LiveChatUrles" value="http://www.sage300.com/livechat-es" />
    <add key="RemoteSupportSessionUrles" value="http://www.sage300.com/remotesupport-es" />
    <add key="OnlineCommunityUrles" value="http://www.sage300.com/c/community-es" />
    <add key="SubmitProductIdeaUrles" value="http://www.sage300.com/productidea-es" />
    <add key="ProductDocumentsUrles" value="https://cdn.na.sage.com/docs/en/customer/300erp/Sage300ERP_Documentation.htm?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-es" />
    <add key="Sage300HomeUrles" value="http://www.sage.com/us/erp/sage-300?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-es" />
    
    <!--Portal Help Links For fr-CA-->
    <add key="ContactSupportUrlfr-CA" value="http://na.sage.com/cafr/soutien?sc_lang=fr-ca" />
    <add key="SageUniversityUrlfr-CA" value="http://www.sage300.com/c/university-fr" />
    <add key="SageCityUrlfr-CA" value="http://sagecity.na.sage.com" />
    <add key="KnowledgebaseUrlfr-CA" value="http://www.sage300.com/c/knowledgebase-fr" />
    <add key="LiveChatUrlfr-CA" value="http://www.sage300.com/livechat-fr" />
    <add key="RemoteSupportSessionUrlfr-CA" value="http://www.sage300.com/c/remotesupport-fr" />
    <add key="OnlineCommunityUrlfr-CA" value="http://www.sage300.com/c/community-fr" />
    <add key="SubmitProductIdeaUrlfr-CA" value="http://www.sage300.com/productidea-fr" />
    <add key="ProductDocumentsUrlfr-CA" value="https://cdn.na.sage.com/docs/fr/customer/300erp/Sage300ERP_Documentation.htm?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-fr" />
    <add key="Sage300HomeUrlfr-CA" value="http://www.sage.com/us/erp/sage-300?utm_source=helpmenu&amp;utm_medium=inproduct&amp;utm_campaign=sage300c-fr" />

    <add key="OrderChecksFormsUrl" value="http://www.sagechecks.com/estore/" />
    <add key="LearnHelpUrl" value="http://help.cna2.sageinternal.com/{0}/web/win/index.htm#{1}" />
    <add key="HelpMenuLocation" value="~/App_Data/MenuHelp.xml" />
    <add key="MenuLocation" value="~/App_Data/MenuDetails.xml" />
    <add key="Templates" value="~/Content/IntelligenceGo/{0}" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- === Portal settings: End-->
    <!-- === Only required locally Start-->
    <add key="SystemStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=magellanpoc;AccountKey=oeMxVB+d6k2j6cnk4L7MHbcP62U5joMDtoajAxbvEu+K4IkW4u2+1J5R4o0j9GZ3vi0zEuwjOwVvydXpVsXQZA==" />
    <!-- <add key="SystemStorageConnectionString" value="UseDevelopmentStorage=true" />-->
    <!-- === Only required locally End-->

    <!--<add key="RedisHost" value="" />
    <add key="RedisPort" value="" />
    <add key="RedisAccountKey" value="" />
    <add key="RedisIsSecured" value="" />-->
    <add key="SageCacheProvider" value="Sage.CA.SBS.ERP.Sage300.Core.Cache.InMemoryCacheProvider, Sage.CA.SBS.ERP.Sage300.Core.Cache" />

    <add key="NewRelic.AppName" value="Sage.CA.SBS.ERP.Sage300.Web" />
    <add key="AllowSessionLogging" value="true" />
    <!-- WebApi location-->
    <add key="WebApiLocation" value="http://localhost/Sage300WebApi/v1.0/-/" />
    <!-- By default, if leave empty, it will use https://<same server>/ It will, however, use the value if specify-->
    <add key="SIRCLocation" value="" />
    <add key="SIRCPortFileInfo" value="\..\..\SIRC\site\sslPort.txt" />
    <!-- WebApiProxy can handling certain api calls locally, this is the flag to control on/off -->
    <add key="ByPassUsingWebApi" value="true" />
  </appSettings>
  <unity configSource="unity.config"/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!--Session (if exists) will be released from the pool based on this timeout (in minutes) (inactivity).-->
    <sessionState timeout="20" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Core/Error/" />
    </customErrors>
    <!--<globalization uiCulture="auto" culture="auto" />-->
    <httpRuntime targetFramework="4.5" maxUrlLength="20480" maxQueryStringLength="20480" enableVersionHeader="false" fcnMode="Disabled"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>

    <!-- Redis Caching session state provider -->
    <!-- Redis cache should be commented out when launching the website locally, Template_Web.config
         has the section uncommented as we need it on Azure to support multiple instances of the web role. -->
    <!--<sessionState mode="Custom" customProvider="Sage300CNA2SessionStateStore">
      <providers>
        <add name="Sage300CNA2SessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" applicationName="Sage300CNA2Session" host="SageNAPreProd.redis.cache.windows.net" port="6380" accessKey="the.redis.cache.access.key" ssl="true" retryTimeoutInMilliseconds="5000" />
      </providers>
    </sessionState>-->
    <!-- Redis Caching output caching provider -->
    <!-- Redis cache should be commented out when launching the website locally, Template_Web.config
         has the section uncommented as we need it on Azure to support multiple instances of the web role. -->
    <!--<caching>
      <outputCache defaultProvider="Sage300CNA2OutputCache">
        <providers>
          <add name="Sage300CNA2OutputCache" type="Microsoft.Web.Redis.RedisOutputCacheProvider, Microsoft.Web.RedisOutputCacheProvider" applicationName="Sage300CNA2Output" host="SageNAPreProd.redis.cache.windows.net" port="6380" accessKey="the.redis.cache.access.key" ssl="true" retryTimeoutInMilliseconds="5000" />
        </providers>
      </outputCache>
    </caching>-->
    <!--<machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F884583521D0559B121310C1B4D547F32" validation="SHA1" validationKey="884583521D0559B121310C1B4D547F326C22AA339DE62168764FF0DCE537184F0535D5D9AD66DEDC884583521D0559B121310C1B4D547F326C22AA3397DC1ABF" />-->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true" />
        <requestLimits maxUrl="20480" maxQueryString="20480" />
        <verbs allowUnlisted="true" />
      </requestFiltering>
    </security>
    <!-- NOTE: These we're added as part of comsec security -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add verb="*" path="WebApiProxy" name="WebApiProxy" type="Sage.CA.SBS.ERP.Sage300.Web.WebApiProxy"/>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebSSOService" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CEDataService" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.sso.staging.services.sage.com/SSO/WebSSOService" behaviorConfiguration="MutualAuthClientEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="WebSSOService" contract="SageSSO.ServiceReferences.IWebSSOServiceSoap" name="SageIDPreProduction" />
      <endpoint address="https://services.sso.staging.services.sage.com/SSO/IdentityManagementService" behaviorConfiguration="MutualAuthClientEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="WebSSOService" contract="SageSSO.ServiceReferences.IIdentityManagementServiceSoap" name="SageIDPreProductionIM" />
      <endpoint address="https://services.sso.staging.services.sage.com/SSO/UserAccountManagementService" behaviorConfiguration="MutualAuthClientEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="WebSSOService" contract="SageSSO.ServiceReferences.IUserAccountManagementServiceSoap" name="SageIDPreProductionAM" />
      <endpoint address="https://ceds-qa.sagedatacloud.com/CEUMRepository.svc" binding="basicHttpBinding" behaviorConfiguration="CEMutualAuthClientEndpointBehavior" bindingConfiguration="CEDataService" contract="CEDataService.ICEUMRepository" name="CloudEnablementStaging" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MutualAuthClientEndpointBehavior">
          <clientCredentials>
            <clientCertificate findValue="CN=NA CE Sage 300 Online 2.0 (Dev) (Pre-production), O=Sage (UK) Limited, C=United Kingdom" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
            <!-- Change findvalue to your product based on environment -->
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="CEMutualAuthClientEndpointBehavior">
          <clientCredentials>
            <clientCertificate findValue="FAE6CCBFFB8934A17C26D49F6837D870C97CAFF1" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <!-- Change findvalue to your product -->
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsAzureEventSource" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="msshrtmi" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsAzureTelemetryEvents" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="7.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
                   to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
              <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
                     <dependentAssembly>
                           <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                           <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
                     </dependentAssembly>
              </assemblyBinding>
              -->
  <gcServer enabled="true"/> 
  </runtime>
  <entityFramework codeConfigurationType="Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Landlord.LandlordConfiguration, Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository">
    <contexts>
      <context type="Sage.CA.SBS.ERP.Sage300.Workflow.DataAccess.WorkflowDbContext,  Sage.CA.SBS.ERP.Sage300.Workflow.DataAccess">
      </context>
      <context type="Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Landlord.LandlordDbContext, Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository, Version=1.0.0.0, Culture=neutral">
      </context>
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="DebugListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="debug.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->

  
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
                          before trusting HTTPS certificates.  But this setting tends to not 
                          be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
                                         <add endpoint="https://www.google.com/accounts/o8/ud" />
                                  </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
                                       with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
                   which is necessary for OpenID urls with unicode characters in the domain/host name.
                   It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <dotless minifyCss="false" cache="true" web="false" />
  
</configuration>
