@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Core.Web.Models
@using Sage.CA.SBS.ERP.Sage300.Common.Models.ExportImport
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.ExportImportViewModel

@{
    Layout = null;
    string buttonCaption;
    string frmSubmitButtonId;
    if (Model.ExportRequest != null)
    {
        buttonCaption = CommonResx.Export;
        frmSubmitButtonId = "frmExportOptions";
    }
    else
    {
        buttonCaption = CommonResx.Import;
        frmSubmitButtonId = "frmImportOptions";
    }
    
    
}

<div class="container_popUp k" id="exportImportOptionScreen">
    <div class="form-group">
        <div class="dropdown-group">
             @Html.KoSageDropDownList("exportImportOption", new { @options = "Options", @value = "SelectedOption", @optionsText = "'Text'", @optionsValue = "'Value'" }, new { @id = "exportImportOption", @class="default" })
        </div>
        <div id="buttons" >
                @Html.KoSageButton("Select", null, new { @class = "btn-primary", @value = @buttonCaption, @id = frmSubmitButtonId })
        </div>
    </div>  
</div>
<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("exportImportModelData", @Model);
</script>
