<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jint" version="2.11.58" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.3.14" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Sdk.BuildTasks.14.0" version="14.9.23" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.6.13" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
</packages>